@import "fonts";
@import "variables";
@import "bootstrap/bootstrap";
// @import "components/header__old";
@import "components/header";
@import "components/order-form";
@import "components/mobile-menu";
@import "components/forms";

html, body {
  overflow-x: hidden;
  // background: grey;
}
body {
  &.sticked {
    overflow: hidden;
    height: 100vh;
  }
  //font-family: "HelveticaNeueCyr", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-family: "Roboto", sans-serif;
  position: relative;
}
//img {
//  image-rendering: crisp-edges;
//}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  /* height: 100%; */
  z-index: 1000;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  background-color: #ffffff;
  &.preloader_absolute {
    position: absolute;
    z-index: 10;
  }
}

*:-moz-focusring {
  outline: none;
}
.main {
  min-height: 1500px;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 20px;
  stroke-width: 0;
  stroke: currentColor;
  fill: #596472;
}
.h1-title {
  font-size: 24px;
  @include media-breakpoint-down(sm) {
    padding-left: 19px;
    //font-size: 26px;
  }
}
.content {
  $paddings: 15px;
  margin: 0 auto;
  width: 100%;
  max-width: 1140px + 2*$paddings;
  padding-left: $paddings;
  padding-right: $paddings;
  @include media-breakpoint-down(sm) {
    padding-left: 0;
    padding-right: 0;
  }
  // background: pink;
  &.content_background {
    background: #fff;
  }
  &.content_padding-h {
    padding-left: 15px;
    padding-right: 15px;
  }
  &.content_padding-h-md {
    @include media-breakpoint-down(sm) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  &.content_padding-v-top {
    padding-top: 10px;
  }
  &.content_padding-v-bottom {
    padding-bottom: 32px;
  }
  &.content_border-radius {
    border: 1px solid transparent;
    border-radius: 4px 4px 4px 4px;
    max-width: 1172px;
  }
}



.catalog-dropdown {
  //z-index: 101;
  min-width: 128px;

  .catalog-dropdown__btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 19px;
    height: 48px;
    width: 128px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #DC112E;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    position: relative;
    word-wrap: none;
    text-decoration: none;
    &:after {
      position: absolute;
      content: '';
      width: 7px;
      height: 7px;
      top: 19px;
      right: 12px;
      border-left: 2px solid #fff;
      border-top: 2px solid #fff;
      transform-origin: 3px 3px;
      transform: rotate(-135deg);
      transition: transform .3s;
    }
    &.show:after {
      transform: rotate(45deg);
    }
  }
}

.footer {
  width: 100%;
  min-height: 488px;
  background: #313C47;
  .content {
    padding-top: 38px;
    padding-bottom: 32px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .footer__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    .footer__button-img {
      display: block;
      margin-bottom: 16px;
      img {
        width: 100%;
        max-width: 298px;
        height: auto;
      }
    }
    .footer__button-link {
      width: 299px;
      height: 70px;
      background: #2A2A2A;
      border: 1px solid transparent;
      border-radius: 4px;
      display: block;
      margin-bottom: 16px;
    }
  }
  .footer__logo {
    margin-bottom: 16px;
    .footer__logo-img {
      display: block;
      margin: 0 auto;
    }
  }
  .footer__phone {
    margin-bottom: 30px;
    text-align: center;
    font-size: 23px;
    line-height: 23px;
    .footer__phone-link {
      text-decoration: none !important;
      .footer__phone-span1 {
        color: rgba(255, 255, 255, 0.5);
      }
      .footer__phone-span2 {
        color: #fff;
      }
    }
  }
  .footer__nav-menu {
    width: 100%;
    max-width: 368px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.75px;
    .footer__nav-menu_col1,
    .footer__nav-menu_col2 {
      width: 100%;
      max-width: 170px;
      @include media-breakpoint-down(sm) {
        max-width: calc(50% - 10px);
      }
    }
    .footer__nav-menu_col1 {
      text-align: right;
    }
    .footer__nav-menu_col2 {
      text-align: left;
    }
    .footer__nav-link {
      display: block;
      color: #D8DCDF;
      text-decoration: none;
      margin-bottom: 15px;
      white-space: nowrap;
      &:hover {
        color: rgba(255, 255, 255, 0.5);
      }
    }
    .footer__nav-link {
      @include media-breakpoint-down(xs) {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 10px;
      }
    }

  }
  .footer__socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 236px;
    margin: 15px auto 30px auto;
    .footer__social-icon {
      width: 32px;
      height: 32px;
      display: block;
    }

  }
  .footer__copyright {
    text-align: center;
    font-size: 18px;
    line-height: 16px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 0.75px;
    color: #FFFFFF;
    opacity: 0.54;
    @include media-breakpoint-down(xs) {
      font-size: 13px;
      line-height: 13px;
    }
  }

}
.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  visibility: hidden;
  opacity: 0;
  transition: opacity .5s ease, visibility .5s ease;
  background: rgba(0,0,0,.4);
  cursor: pointer;
  &.overlay_show {
    opacity: 1;
    visibility: visible;
  }
}

.catalog-wrap {
  position: relative;
}
.catalog {
  position: absolute;
  top: -10px;
  display: none;
  //visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition: opacity .5s ease, visibility .5s ease;
  &.catalog_show {
    opacity: 1;
    display: block;
    //visibility: visible;
    z-index: 200;
  }
  .catalog__list {
    padding: 0;
    list-style: none;
    position: relative;
    .catalog__item {
      background: #fff;
      cursor: pointer;
      border-bottom: 1px solid #eee;
      //color: rgba(0, 0, 0, 0.87);
      color: #525252;
      &:hover {
        background: #E8EFF7;
        color: rgba(0, 0, 0, 1);
        > .catalog__link:after {
          border-color: rgba(0, 0, 0, 0.54);
        }
      }
      .catalog__link {
        width: 360px;
        padding: 0 20px 0 16px;
        height: 42px;
        display: flex;
        align-items: center;
        font-size: 13px;
        line-height: 17px;
        text-decoration: none !important;
        color: inherit;
        position: relative;
        &:after {
          position: absolute;
          width: 8px;
          height: 8px;
          top: calc(50% - 2px);
          right: 12px;
          border-left: 2px solid rgba(0, 0, 0, 0.15);
          border-top: 2px solid rgba(0, 0, 0, 0.15);
          transform-origin: 3px 3px;
          transform: rotate(135deg);
        }

      }
      .catalog__submenu + .catalog__link:after {
        content: '';
      }
      .catalog__icon {
        width: 24px;
        height: 24px;
        margin-right: 24px;
      }
      .catalog__submenu {
        background: #fff;
        height: 100%;
        list-style: none;
        padding: 0;
        top: 0;
        left: 360px;
        position: absolute;
        //visibility: hidden;
        display: none;
        opacity: 0;
        transition: opacity .5s ease, visibility .5s ease;
        &.catalog__submenu_show {
          opacity: 1;
          display: block;
          //visibility: visible;
        }
      }
    }
  }
}

.mob-cat-container {
  //display: block;
  //@include media-breakpoint-up(lg) {
  //    display: none;
  //}
  position: absolute;
  padding-top: 5px;
  width: 100vw;
  height: calc(100vh - 138px);
  overflow-x: scroll;
  display: none;
  //visibility: hidden;
  background: #fff;
  opacity: 0;
  //transition: opacity .5s ease, visibility .5s ease;
  &.mob-cat-container_opened {
    opacity: 1;
    display: block;
    //visibility: visible;
    z-index: 20;
  }
}

.article-block {
  font-size: 15px;
  line-height: 29px;
  text-align: justify;
  color: #212121;
  .article-paragraph {
    padding: 0 0 15px 0;
    @include media-breakpoint-down(sm) {
      padding-left: 19px;
      padding-right: 19px;
    }
  }
}

.hidden { // по просьбе Алексея
  display: none !important;
  visibility: hidden;
}

@keyframes dot-keyframes {
  0% {
    opacity: .4;
    // transform: scale(1, 1);
  }

  50% {
    opacity: 1;
    // transform: scale(1.2, 1.2);
  }

  100% {
    opacity: .4;
    // transform: scale(1, 1);
  }
}

.loading-dots {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  max-width: 20px;

  &--dot {
    animation: dot-keyframes 1.5s infinite ease-in-out;
    background-color: #0055A5;
    // border-radius: 50%;
    display: block;
    height: 4px;
    width: 4px;
    // padding-right: 50px;

    &:nth-child(2) {
      animation-delay: .5s;
    }

    &:nth-child(3) {
      animation-delay: 1s;
    }
  }
}